Source: ros-fuerte-object-recognition-tabletop
Section: misc
Priority: extra
Maintainer: Vincent Rabaud <vrabaud@willowgarage.com>, Jon Binney <jbinney@willowgarage.com>
Build-Depends: debhelper (>= 7.0.50~), ros-fuerte-ecto-ros,ros-fuerte-catkin,ros-fuerte-opencv-candidate,ros-fuerte-ecto-pcl,ros-fuerte-object-recognition-core,ros-fuerte-object-recognition-msgs,ros-fuerte-ecto,ros-fuerte-moveit-msgs
Homepage: http://ecto.willowgarage.com
Standards-Version: 3.9.2

Package: ros-fuerte-object-recognition-tabletop
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-fuerte-ecto-ros,ros-fuerte-opencv-candidate,ros-fuerte-ecto-pcl,ros-fuerte-object-recognition-core,ros-fuerte-object-recognition-msgs,ros-fuerte-ecto
Description: A port of the old tabletop object recognition
